.message {

}

.imgTime {
    background-color: greenyellow;
    height: 100px;
    width: 300px;
    display: flex;

}

.nameText {
    height: 80px;
    width: 200px;
    margin: 10px;
    background-color: darkolivegreen;
    border-radius: 10px;
}


.imgClass {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    margin: 10px;
    margin-top: 25px;
}

 .time {
     margin-right: 10px;
     color: darkgreen;
     display: flex;
     justify-content: flex-end;

 }
 .name {
     color: blueviolet;
     margin-left: 10px;
 }

 .text {
     color: chartreuse;
     margin-left: 10px;
 }

.block {
    margin: 10px;
    position: relative;
    width: 200px;
    padding: 20px;
    border-radius: 10px 10px 10px 0;
    background: #4d5156;
    color: #bbfbbc;
}

.block::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top left, transparent 49%, #4d5156 51%) no-repeat right bottom;
}