.message {

}

.imgTime {
    background-color: greenyellow;
    height: 100px;
    width: 300px;
    display: flex;

}

.nameText {
    height: 80px;
    width: 200px;
    margin: 10px;
    background-color: darkolivegreen;
    border-radius: 10px;
}


.imgClass {
    border-radius: 100px; /* Радиус скругления */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    margin: 10px;
    margin-top: 25px;
}

 .time {
     margin-right: 10px;
     color: darkgreen;
     display: flex;
     justify-content: flex-end;

 }
 .name {
     color: blueviolet;
     margin-left: 10px;
 }

 .text {
     color: chartreuse;
     margin-left: 10px;
 }