.mainClass {
    margin: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    background-color: aqua;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.darksalmon {
    color: darksalmon;
}
