.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 2px red solid;
}

.errorMessage {
  color: red
}

.activeButtonFilter {
  background-color: aqua;
}
